mixin logo(type)
  - const href = page === 'index' ? undefined : '/'
  case type
    when 'footer'
      a.logo(href!=href)&attributes(attributes)
        img(
          src='@img/stack-sprite.svg#logo-footer'
          alt='Логотип компании Cat Energy'
          width='128'
          height='24'
        )
    default
      a.logo(href!=href)&attributes(attributes)
        picture
          source(
            media='(min-width: 1440px)'
            srcset='@img/stack-sprite.svg#logo-desktop'
          )
          source(
            media='(min-width: 768px)'
            srcset='@img/stack-sprite.svg#logo-tablet'
          )
          img.logo__img(
            src='@img/stack-sprite.svg#logo-mobile'
            alt='Логотип компании Cat Energy'
            width='190'
            height='38'
          )
