mixin img(fileName, extensions = ['jpg', 'jpg', 'jpg'])
  picture
    //- source(
    //- type='image/webp'
    //- media='(min-width: 1440px)'
    //- srcset!=`@img/${fileName}-desktop@1x.webp, @img/${fileName}-desktop@2x.webp 2x`
    //- )
    //- source(
    //- type='image/webp'
    //- media='(min-width: 768px)'
    //- srcset=`@img/${fileName}-tablet@1x.webp, @img/${fileName}-tablet@2x.webp 2x`
    //- )
    //- source(
    //- type='image/webp'
    //- srcset=`@img/${fileName}-mobile@1x.webp, @img/${fileName}-mobile@2x.webp 2x`
    //- )
    source(
      media='(min-width: 1440px)'
      srcset=`@img/${fileName}-desktop@1x.${extensions[2]}, @img/${fileName}-desktop@2x.${extensions[2]} 2x`
    )
    source(
      media='(min-width: 768px)'
      srcset=`@img/${fileName}-tablet@1x.${extensions[1]}, @img/${fileName}-tablet@2x.${extensions[1]} 2x`
    )
    img(
      src=`@img/${fileName}-mobile@1x.${extensions[0]}`
      srcset=`@img/${fileName}-mobile@2x.${extensions[0]} 2x`
    )&attributes(attributes)
